.container-service_pane {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 100vh;
  background-color: #dfe3e8;
  padding-left: 16px;
  padding-right: 16px;
}

.container-service_pane h1 {
  margin-bottom: 24px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 16px;
}

.section h2 {
  margin-bottom: 16px;
}

.services {
  display: flex;
  width: 320px;
  flex-wrap: wrap;
  justify-content: space-between;
}